<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <p v-text="number"></p>
    </div>
    <div id="vue2">
        <div v-on:click="handleClick">{{content}}</div>
    </div>
    <div id="vue3">
        <div v-bind:title="title">hello</div>
        <input type="text" v-model="content" />
        <p>{{content}}</p>
    </div>
    <div id="vue4">
        姓：<input type="text" v-model="firstName"/>
        名：<input type="text" v-model="lastName"/>
        <div>{{fullName}}</div>
        <div>{{count}}</div>
    </div>
    <div id="vue5">
        <div v-if="show">hello</div>
        <button v-on:click="handle">toggle</button>
        <ul>
            <li v-for="(item, index) of list" :key="index">{{item}}</li>
        </ul>
    </div>
    <div id="vue6" v-bind:class="{activated: isactivated}">
    </div>
    <script>
        //vue 编写时不会有任何的直接dom操作
        var root = new Vue({
            el: "#root",
           // template: '<h1>template {{message}}</h1>',
            data: {
                message: "HelloWorld",
                number: 666
            }
        });
        //挂载点，模板与实例
        /**
         * 挂载点 el:对应的一个标签就是对应的挂载点
         * 模板 挂载点内的元素
         * 可以将模板放在vue的实例中编写
         * 
         */

        //vue实例中的数据，事件和方法
        /**
         * 插值表达式 {{name}}
         * 
         * v-text="number"  文本内容
         * v-html="html"    渲染html
         * 
         * 事件绑定
         * v-on:click 绑定click事件
         * @click
         * 当data的数据发生改变时，vue会自动机更新视图
         */
        var vue2 = new Vue({
            el: "#vue2",

            data: {
                content: "click"
            },
            methods: {
                handleClick: function() {
                    //this指向当前实例的data
                   this.content = "content changed";
                }
            }
        });
        //vue 中的属性绑定和双向数据绑定
        /**
         * 属性绑定
         * v-bind:title="title" "title" 指的是data中的title数据
         * :
         * 
         * 双向数据绑定
         * v-model="content"
         * content 的内容将实时改变
         * 
         */
        var vue3 = new Vue({
            el: "#vue3",
            data: {
                content: "this is band content"
            }
        });
        //vue中的计算属性和侦听器
        /**
         * 计算属性
         * computed 一个属性通过其他属性计算而来
         *  geter和seter方法： 
         *  get 模板中读取计算属性时调用方法
         *  set 设置计算属性时调用方法
         *
         *
         * 侦听器
         * watch 监听摸一个数据的变化
         * 
         */

         var vue4 = new Vue({
             el: "#vue4",
             data: {
                 firstName: '',
                 lastName: '',
                 count: 0
             },
             computed: {
                 fullName: function() {
                     return this.firstName + '  ' + this.lastName;
                 },
                //  fullName: {
                //     get: function() {
                //         return this.firstName + " " +this.lastName;
                //     },
                //     set: function(value) {
                //         var arr = value.split(" ");
                //         this.firstName = arr[0];
                //         this.lastName = arr[1];
                //     }
                //  }
             },
             watch: {
                firstName: function() {
                    this.count++;
                },
                lastName: function() {
                    this.count++;
                }
             }
         })
         //vue中常见的指令
         /**
          * v-if 条件判断 show 是否显示的bool
          * v-show 是否显示   元素上添加css属性值，而v-if直接删除dom
          * v-for 循环数据添加key可以提升性能，要求每项key值不同
          * v-for="(item, index) of list"  index是数组的索引
          *  item是每一个选项， index为索引key值要唯一，且尽量不要是index，
          * 
          * vue中的set方法
          *vm.$set(对象名.字段，值) 在现有对象中添加属性
          *
          *
          *
          */
          var vue5 = new Vue({
              el: "#vue5",
              data: {
                  show: true,
                  list: [1,2,3,4]
              },
              methods: {
                handle: function() {
                    this.show = !this.show;
                }
              }
          })
          //vue中的样式绑定
          /**
           * class 对象绑定
           *  通过v-bind绑定class 用对象 {activated: isActivated}
           *  如果isActivated为true，将activated绑定在class上，否则绑定为空
           *  
           * class 数组绑定
           *  v-bind:class="[activated]" 绑定vue实例中data下activated的值
           *  数组类型的class绑定可以绑定多个属性
           */
           var vue6 = new Vue({
               el: "#vue6",
               data: {
                   isActivated: true
               },
               methods: {

               }
           });

           //修改数组时不能直接通过下标修改，只有通过变异方法才可以在修改数据时更新视图
           /**
            * push插入
            * pop 弹出
            * shift 首位弹出
            * unshift 首位插入
            * spice 数组截取
            * sort 排序
            * reverse 取反
            *
            * set 方法也可以进行数值操作
            *
            * Vue.set(vm.数组名，index，value)
            * Vue.set(vm.userInfo,1, 5);
            * vm.$set(vm.userInfo,1, 5);
            * 通过Vue.set 在数组值更新的同时会进行数据更新
            *
            *Vue.set() vue对象方法
            *vm.$set() vue实例方法
            *
            */

    </script>
</body>
</html>